* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}
html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  margin: 0px;
}
a {
  text-decoration: none;
}

.main-content{
  display: flex;
  flex-direction: column;
  flex: 1 1;
}
.footer-container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f2947;
  flex: 0 1 auto;
}
.footer-container p{
  color: #f9faf8;
  font-size: 28px;
  font-weight: 500;

}
.header-greetings-container {
  color: #f9faf8;
  background-color: #1f2947;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.header-container {
  display: flex;
  margin: 0px;
  padding: 0px;
  justify-content: space-between;
  align-items: stretch;
}
.home-logo {
  font-size: 24px;
  font-weight: 900;
  color: #f9faf8;
}
.header-links-container {
  display: flex;
  align-items: stretch;
}
.header-link,
.home-logo {
  padding: 16px;
  display: flex;
  align-items: center;
}
.greetings-container{
  display: flex;
  color: white;
}
.greeting-header{
  color: white;
}